@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.input {
  color: #ffff;
  border-radius: 6px;
  border: 2px solid #bf3f94;
}

.primary-button:hover {
  background-color: #871e64;
}

.primary-button {
  color: #ffff;
  background-color: #bf3f94;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0px 10px 31px rgba(152, 34, 112, 0.29);
}

@layer components {
  .cont {
    height: 580px;
  }
  .btn-pad {
    @apply px-3 py-2 font-bold;
  }

  .input-decoration {
    @apply shadow appearance-none border rounded bg-transparent w-full py-2 px-3 my-4 text-gray-700 leading-tight focus:outline-none;
  }
  .icon {
    @apply h-6 w-6 mr-2;
  }
  .label {
    @apply text-sm text-gray-400;
  }

  .tab-row {
    @apply px-6 py-4 whitespace-nowrap bg-transparent text-sm text-gray-100;
  }

  .table-head {
    @apply px-6 py-3 text-left text-xs bg-transparent font-medium text-gray-100 uppercase tracking-wider;
  }

  .option {
    @apply text-black font-semibold;
  }
}
